@tailwind base;
@tailwind components;
@tailwind utilities;

.body-wrapper {
  position: relative;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
  overflow: hidden;
}

.body-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  z-index: 1;
}

.body-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('https://bmrk.cc/images/grid.svg');
  background-repeat: repeat;
  background-size: auto;
  opacity: 0.03;
  z-index: 2;
}

.body-wrapper-content {
  position: relative;
  z-index: 3;
}